<div class="row">
  <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
    <div class="jumbotron">
      <h1 class="text-center"><span class="linkr-logo-lg"><span class="glyphicon glyphicon-link"></span> </span><span class="linkr-txt-lg">Linkr.me</span></h1>
      <%= form_tag sessions_path do  %>
        <br>
        <div class="login text-center">
          <div class="form-group">
            <%= email_field_tag :email, nil, class: 'form-control linkr-input-auth', placeholder: "email" %>
          </div>
          <div class="form-group">
            <%= password_field_tag :password, nil, class: 'form-control linkr-input-auth', placeholder: "password"  %>
          </div>
          <div class="form-group">
            <%= check_box_tag :remember_me, 1, params[:remember_me], class: 'linkr-remember-checkbox'%>
            <span class="linkr-remember-checkbox-label">&nbsp;&nbsp;Remember me</span>
          </div>
          <br>
          <div class="form-group">
            <%= submit_tag "Sign In", :class => 'btn btn-lg btn-default linkr-btn-marketing' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
